<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./stylesheets/home.css">
    <title>Home</title>
</head>
<body>
    <div class="opis">OPIS:
        <div class="box"></div>
    </div>
    <center><img src="/img/Avatar.jpg"></center>
    <div class="info_student">INFO:
        <div class="box"></div>
    </div>
    <button class="button">Dalej</button>
</body>
</html>