<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./stylesheets/home.css">
    <title>Home</title>
</head>
<body>
<<<<<<< HEAD
    <form action="/home" method="post">
        <div class="opis">
            opis
        </div>
        <div class="info_student"> 
            info
        </div>
        <center><img src="/img/Avatar.jpg"></center>
        <input type="submit" class="left" value="left">
        <input type="submit" class="right" value="right">
    </form>
    {{ hm }}
=======
    <div class="opis">OPIS:
        <div class="box"></div>
    </div>
    <center><img src="/img/Avatar.jpg"></center>
    <div class="info_student">INFO:
        <div class="box"></div>
    </div>
<<<<<<< HEAD
    <button class="left">Left</button>
    <button class="right">Right</button>
>>>>>>> 16060e37748fb275a2757c039135ca9ad88d7671
=======
    <button class="button">Dalej</button>
>>>>>>> 3ee2a9d06f190ddf96467992442a595c0e0556ed
</body>
</html>