<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./stylesheets/index.css">
    <title>>Welcome to Techni-Tinder</title>
</head>
<body>
    <h1>TECHNI-TINDER</h1>
    {{ error }}
    <form action="" method="POST" class="index">
        <h2>Zaloguj się</h2>
        <label for="username">Email użytkownika:</label>
        <input type="text" name="email" id="email" required>
        <br>
        <label for="password">Hasło:</label>
        <input type="password" name="password" id="password" required>
        <br>
        <button class="button" onclick="window.location = 'http://localhost:3000/rejestracja'">Zarejestruj sie</button>
        <input type="submit">
    </form>
</body>
</html>