<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./stylesheets/index.css">
    <title>Welcome to Techni-Tinder</title>
    <h1>TECHNI-TINDER</h1>
</head>
<body>
    <div class="index">
        <h2>Zaloguj się</h2>
        <button class="button" onClick="window.location = 'http://localhost:3000/login'">Zaloguj</button>
        <button class="button" onclick="window.location = 'http://localhost:3000/rejestracja'">Zarejestruj sie</button>
        <button class="button" onclick="window.location = 'http://localhost:3000/home'">Home</button>
    </div>    
</body>
</html>