<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./stylesheets/profil.css">
    <title>Profil</title>
</head>
<body>
    <h1>Hej {{ imie }}</h1>
    <center><form action="/profil" method="post" class="form">
        <img src="/img/Avatar.jpg">
        <br>
        <label for="zdjecie">Wstaw ścieżkę zdjęcia:</label>
        <input type="text" name="zdjecie" id="zdjecie">
        <br>
        <label for="opis">Napisz coś o sobie:</label>
        <br>
        <input type="text" name="opis" id="opis">
        <br>
        <input type="submit">
        <button class="button" onclick="window.location = 'http://localhost:3000/profile'">Strona Główna</button>
        <button class="button" onclick="window.location = 'http://localhost:3000/usun'">Usun profil?</button>
    </form></center>
</body>
</html>