<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./stylesheets/profil.css">
    <title>Profil</title>
</head>
<body>
    <h1>Hej {{ imie }}</h1>
    {{ error }}
    <div class="menu">
        <img src="/img/domek.jpg" class="menu_zd_1" onclick="window.location = 'http://localhost:3000/home'">
        <img src="/img/kosz.jpg" class="menu_zd_2" onclick="window.location = 'http://localhost:3000/usun'">
        <img src="/img/wyjscie.jpg" class="menu_zd_3" onclick="window.location = 'http://localhost:3000'">
    </div>
    <center><form action="/profil" method="post" class="form">
        <img src="/img/Avatar.jpg">
        <br>
        <label for="zdjecie">Wstaw ścieżkę zdjęcia:</label>
        <input type="text" name="zdjecie" id="zdjecie">
        <br>
        <label for="opis">Napisz coś o sobie:</label>
        <br>
        <input type="text" name="opis" id="opis">
        <br>
        <input type="submit">
        {{ prawe }}
        
    </form></center>
<<<<<<< HEAD
        <center><button class="button" onclick="window.location = 'http://localhost:3000/home'">Strona Główna</button></center>
        <center><button class="button" onclick="window.location = 'http://localhost:3000/usun'">Usun profil?</button></center>
        <center><button class="button" onclick="window.location='http://localhost:3000/'">Wyloguj</button></center>
=======
        {{!-- <center><button class="button" onclick="window.location = 'http://localhost:3000/home'">Strona Główna</button></center>
        <center><button class="button" onclick="window.location = 'http://localhost:3000/usun'">Usun profil?</button></center> --}}
>>>>>>> fb347867dad616260900b5b38125f518af8ca4e3
</body>
</html>