<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rejestracja</title>
</head>
<body>
    <form action="/rejestracja" method="POST">
        <label for="email">Email</label>
        <input type="text" name="email" id="email" required>

        <label for="password">Haslo</label>
        <input type="password" name="haslo" id="haslo" required>

        <label for="imie">Imie</label>
        <input type="text" name="imie" id="imie" required>

        <label for="nazwisko">Nazwisko</label>
        <input type="text" name="nazwisko" id="nazwisko" required>

        <label for="wiek">Wiek</label>
        <input type="text" name="wiek" id="wiek" required>

        <label for="klasa">Klasa</label>
        <input type="text" name="klasa" id="klasa" required>
        
        <input type="submit">
    </form>
</body>
</html>