body {
    background: linear-gradient(to right, rgb(123, 23, 177), rgb(250, 60, 209));
}
.opis{
    margin-left: 10px;
    font-size: 30px;
    text-align: center;
    background-color: rgb(55, 55, 55);
    width: 300px;
    height: 35px;
    color: white;
    border-radius: 5px;
}
.info_student{
    margin-left: 950px;
    margin-top: -530px;
    font-size: 30px;
    text-align: center;
    background-color: rgb(55, 55, 55);
    width: 300px;
    height: 35px;
    color: white;
    border-radius: 5px;
}
.box{
    background-color: white;
    width: 300px;
    height: 500px;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0.2px 3px 10px 0.2px black;
}
.left{
    margin-left: 375px;
}
.right{
    margin-left: 200px;
}
button{
    margin-top: 500px;
    width: 150px;
    height: 25px;
    border-radius: 10px;
    box-shadow: 0.2px 3px 10px 0.2px white;
    font-size: 15px;
}
button:hover{
    background-color:lightgrey;
}