.opis{
    margin-left: 125px;
}
.info_student{
    text-align: right;
    margin-right: 125px;
    margin-top: -20px;
}
.left{
    margin-left: 475px;
}
.right{
    margin-left: 200px;
}
button{
    margin-top: 10px;
}