body {
    background: linear-gradient(to right, rgb(123, 23, 177), rgb(250, 60, 209));
}
h1{
    font-size: 50px;
    text-align: center;
    margin-top: 20px;
 }
form{
    background-color: white;
    width: 300px;
    height: 420px;
    border-radius: 10px;
}
img{
    margin-top: 10px;
    width: 230px;
    height: 200px;
}
input{
    width: 200px;
}
#opis{
    height: 100px;
    text-justify:auto;
}
button, input[type='submit']{
    margin-top: 5px;
}